// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label {
   font-weight: bold;
}

Legend {
   font-size: 16px;
   font-weight: bold;
}

fieldset {
   border-radius: 5px;
}